<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Document</title>
  <link rel="stylesheet" href="./dev/radio.css">
  <link rel="stylesheet" href="./dev/checkbox.css">
  <link rel="stylesheet" href="./dev/icon.css">
  <link rel="stylesheet" href="./dev/button.css">
  <link rel="stylesheet" href="./dev/pagination.css">
  <link rel="stylesheet" href="./dev/message.css">
  <link rel="stylesheet" href="./dev/message-box.css">
  <style>
    /* 测试分页居中 */
    .pagination-center {
      text-align: center;
    }
  </style>
  <link rel="stylesheet" href="./dev/form.css">
  <link rel="stylesheet" href="./dev/form-item.css">
  <link rel="stylesheet" href="./dev/input.css">
  <link rel="stylesheet" href="./dev/popover.css">
  <link rel="stylesheet" href="./dev/button.css">
  <link rel="stylesheet" href="./dev/collapse.css">
  <style>
    body {
      min-height: 2000px;
    }
    .collapse__container {
      width: 500px;
    }
  </style>
</head>
<body>
  <h1>Docs</h1>
  <ul>
    <li><a href="#radio">radio</a></li>
    <li><a href="#checkbox">checkbox</a></li>
    <li><a href="#pagination">pagination</a></li>
    <li><a href="#form">form/input</a></li>
    <li><a href="#popover">popover</a></li>
    <li><a href="#message-box">message-box</a></li>
    <li><a href="#collapse">collapse</a></li>
  </ul>
  <div id="app">
    <div id="radio">
      <h2>radio</h2>
      <el-radio class="radio" v-model="radio" label="1">备选项</el-radio>
      <el-radio class="radio" v-model="radio" label="2">备选项</el-radio>
    </div>
    <div id="checkbox">
      <h2>checkbox</h2>
      <el-checkbox-group v-model="checkList">
        <el-checkbox label="复选框 A"></el-checkbox>
        <el-checkbox label="复选框 B"></el-checkbox>
        <el-checkbox label="复选框 C"></el-checkbox>
        <el-checkbox></el-checkbox>
        <el-checkbox label="禁用" disabled></el-checkbox>
        <el-checkbox label="选中且禁用" disabled></el-checkbox>
      </el-checkbox-group>
    </div>
    <div id="pagination">
      <h2>pagination</h2>
      <el-pagination class="pagination-center"
        layout="prev, pager, next"
        :total="1000">
      </el-pagination>
    </div>
    <div id="form" style="width: 400px">
      <h2>form/input</h2>
      <el-form
        :label-position="labelPosition"
        label-width="100px"
        :model="ruleForm"
        :rules="rules"
        ref="ruleForm"
      >
        <el-form-item label="名称：">
          <el-input v-model="ruleForm.name" placeholder="test"></el-input>
        </el-form-item>
        <el-form-item label="活动区域：">
          <el-input v-model="ruleForm.region"></el-input>
        </el-form-item>
        <el-form-item label="活动名称：" prop="name2">
          <el-input v-model="ruleForm.name2" placeholder="error test"></el-input>
        </el-form-item>
        <el-form-item label="活动形式：">
          <el-input v-model="ruleForm.type" :disabled="true" placeholder="test"></el-input>
        </el-form-item>
      </el-form>
    </div>
    <div id="popover" >
      <h2>popover</h2>
      <div style="margin: 100px 400px;">
        <el-popover
          ref="popover1"
          placement="bottom"
          width="200"
          trigger="click"
        >
          <ul>
            <li><a href="#">123123123</a></li>
            <li><a href="#">123123123</a></li>
            <li><a href="#">123123123</a></li>
            <li><a href="#">123123123</a></li>
            <li><a href="#">123123123</a></li>
          </ul>
        </el-popover>
        <el-button v-popover:popover1>Click Bottom</el-button>
        <el-popover
          ref="popover2"
          placement="right-start"
          title="标题"
          width="200"
          trigger="click"
          content="这是一段内容,这是一段内容,这是一段内容,这是一段内容。">
        </el-popover>
        <el-button v-popover:popover2>Click Right-Start</el-button>
        <el-popover
          ref="popover3"
          placement="right-start"
          width="200"
          trigger="click"
          style="position: relative"
        >
          <h3>title</h3>
          <div id="icon" style="position: absolute; right:0; top: 0;" @click="hidePopover()">CLOSE</div>
          <div>这是一段内容,这是一段内容,这是一段内容,这是一段内容。 这是一段内容,这是一段内容,这是一段内容,这是一段内容。</div>
        </el-popover>
        <el-button v-popover:popover3>Click Right-Start Custom Content</el-button>
      </div>
    </div>
    <div id="message-box">
      <h2>message-box</h2>
      <div>
        <el-button type="text" @click="open2">点击打开 Message Box</el-button>
      </div>
    </div>
    <div id="collapse">
      <h2>collapse</h2>
      <div>active name {{ activeName }}</div>
      <div class="collapse__container">
        <el-collapse v-model="activeName" accordion>
          <el-collapse-item title="一致性 Consistency" name="1">
            <div>与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；</div>
            <div>在界面中一致：所有的元素和结构需保持一致，比如：设计样式、图标和文本、元素的位置等。</div>
          </el-collapse-item>
          <el-collapse-item title="反馈 Feedback" name="2">
            <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>
            <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>
          </el-collapse-item>
          <el-collapse-item title="效率 Efficiency" name="3">
            <div>简化流程：设计简洁直观的操作流程；</div>
            <div>清晰明确：语言表达清晰且表意明确，让用户快速理解进而作出决策；</div>
            <div>帮助用户识别：界面简单直白，让用户快速识别而非回忆，减少用户记忆负担。</div>
          </el-collapse-item>
          <el-collapse-item title="可控 Controllability" name="4">
            <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>
            <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>
          </el-collapse-item>
        </el-collapse>
      </div>
    </div>
  </div>
  <script src="//cdn.bootcss.com/vue/2.3.4/vue.js"></script>
  <script src="//cdn.bootcss.com/element-ui/1.3.6/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          radio: 1,
          checkList: [],
          labelPosition: 'right',
          ruleForm: {
            name: '',
            name2: '',
            region: '',
            type: ''
          },
          rules: {
            name2: [
              { required: true, message: '请输入活动名称', trigger: 'blur' },
              { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
            ]
          },
          activeName: '1',
        }
      },
      methods: {
        hidePopover(event) {
          document.documentElement.click();
        },
        open2() {
          this.$confirm(''/* content */, '确定要删除该商品吗？' /* title */, {
            confirmButtonText: '确定',
            confirmButtonClass: 'vox-Button__confirm',
            cancelButtonText: '取消',
            cancelButtonClass: 'vox-Button__cancel'
          }).then(() => {
            this.$message({
              type: 'success',
              message: '删除成功!'
            });
          });
        }
      },
    })
  </script>
</body>
</html>
